{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in page_obj %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ product.photo | media_filter }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <p class="card-text fw-semibold">{{ product.name }}</p>
                        <p class="card-text text-muted">{{ product.description|truncatechars:100 }}</p>

                        <div class="d-flex flex-wrap gap-2 mb-2">
                            <a class="btn btn-sm btn-outline-primary"
                               href="{% url 'catalog:products_detail' product.pk %}">Посмотреть</a>
                            <a class="btn btn-sm btn-outline-secondary"
                               href="{% url 'catalog:products_update' product.pk %}">Редактировать</a>
                            <a class="btn btn-sm btn-outline-danger"
                               href="{% url 'catalog:products_delete' product.pk %}">Удалить</a>
                        </div>

                        <div class="text-end">
                            <small class="text-muted">{{ product.created_at|date:"d.m.Y H:i" }}</small>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        <!-- Пагинация -->
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Первая">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;&laquo;</span></li>
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Следующая">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Последняя">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                <li class="page-item disabled"><span class="page-link">&raquo;&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
